.menu{
  background-color: #141e27;

}
.menuComponent{

  background-color: #141e27;
  width: 100%;
  height: 15vh;
  color: white;

}
button{
  border-radius: 10px;
}
.listagem{
  background-color: #141e27;
  margin-top: 10vh;
  text-align: center;

}
.listagemMedicos{

  height: auto;
  text-align: center;


}
mat-card{
  color: white;
  background: rgba(2, 4, 10, 0.64);

}
.containerMedico{
  height: 100vh;
  background-color: #141e27;


}
th{
  color: white;
  font-family: "Arial";
  font-weight: lighter;
}
.mat-cell{
  color: black;
}
